.App {
}

@font-face {
	font-family: Gravity-Regular;
	src: url('./fonts/Gravity-Regular.otf') format('opentype');
}

h1 {
	font-family: "Gravity-Regular";
	text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.navigation {
	
}

.Links {
	color: white;
	margin-left: 30px;
	padding-top: 1px;
	margin-right: 10px;
	text-decoration: none;
}

nav a .navbar-brand {
	color: red;
}

.Links:hover {
	color: white;
}

a {
	color: white;
}

.navigation-sub {
	font-size: large;
	font-family: "Gravity-Regular";
	display: flex;
	flex-direction: row;
	margin: 50px;
	justify-content: space-around;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
