.Project {
    padding-bottom: 10px;
	/* Fade in animation */ 
	animation: fadeIn ease 10s;
	-webkit-animation: fadeIn ease 1s;
	-moz-animation: fadeIn ease 1s;
	-o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
	text-align: center;
	
}

@font-face {
	font-family: Gravity-Regular;
	src: url('./fonts/Gravity-Regular.otf') format('opentype');
}

dl.ProjectsList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: "Gravity-Regular";
}

dt {
	padding-top: 50px;
}

dd {
    margin-bottom: 20px;
}

#codingLanguages {
    color: #888;
    font-style: italic;
	font-weight: bold;
	text-align:center;
}

i {
    margin-left: 0px;
}

.ProjectsList a {
    color: black;
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
	
@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
	
@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
